build/
.venv/
__pycache__/
test/out/
webui/certs/
*.ir
*.opt.ir
*.vvp
*.wav
*.mp4
engine.v
engine.ir
engine.opt.ir
presetgen/.freesound_token
presetgen/targets_freesound/
presetgen/demo_out/
presetgen/__pycache__/
presetgen/.freesound_account
media/
presetgen/targets_soundfont/
